<!-- Aquí no es necesario crear otro html con su estructura por que ya lo tenemos creados
 lo único que tenemos que hacer es un extends es decir, una herencia-->

{%extends 'main_base.html'%}

{%block ittle%}INDEX{%endblock%}

{%block content%}

<div class="container">
    <h1>Mi primera App</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea ipsam rerum odio placeat officia, fugiat ducimus aut quo natus debitis est vitae illo commodi dolores eos reiciendis doloribus reprehenderit harum!</p>
</div>

{%endblock%}