
<!-- por que main_base.html? -> porque de esta forma indicamos cual es el main del usuario
 y cual es el main del administrador si lo necesitamos crear -->

<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>{%block title%}{%endblock%}</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
</head>
<body>
   <!-- Recuerda, Siempre siempre siempre
   Que quiera poner una nueva ruta,ya sea una plantilla nueva
    la tengo que declarar con @app.route
   -->
   <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
         <a class="navbar-brand" href="#">FlashJobs</a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
               <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{{ url_for('main.index') }}">Home</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('admin.dashboard') }}">Registro</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('admin.dashboard') }}">Login</a>
               </li>
            </ul>
         </div>
      </div>
   </nav>
   <div class="container"></div> 
   <br>

   <h1>
      ESTO ES LA PÁGINA DE INICIO
   </h1>
   <H2>
      Bienvenido a mi proyecto de FLASK
   </H2>
   
   <br>
   <!-- si ponemos un container queda más estético-->
   <!-- Para hacer los estilos lo haremos con bootstrap, se usa más react pero bootstrap es más sencillo-->

   <h3>¿Buscas un trabajo rápido?</h3> <br>
   <a href="/register">
      <button type="button">Busco trabajo</button>
   </a>
    <br><br>
   
   <br>
   <h3>¿Buscas contratar a alguien lo más rápido posible?</h3><br>
   <a href="/register">
      <button type="button">Busco contratar</button>
   </a>
   <br><br>

   
   <div class="footer-links">
      <a href="{{ url_for('main.empleado') }}">Empleados</a>
      <a href="{{ url_for('main.Contratador') }}">Contratadores</a>
   </div>

   {%block content%}{%endblock%}


   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
 </body>
 </html>